@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .main-button {
    @apply bg-black/80 text-white font-bold text-lg py-4 px-12 rounded-full shadow-lg transition-transform transform hover:scale-105;
  }
  .raise-issue-button {
    @apply bg-red-600 text-white font-bold py-3 px-8 rounded-full shadow-lg transition-transform transform hover:scale-105 hover:bg-red-700;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}
